.contacts-dillers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 0 0;
  background-color: $gray-light;

  &__description {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: $fontsize-base;
    line-height: $lineheight-biggest;
    font-weight: normal;
    text-transform: uppercase;
    max-width: 50%;
    margin: 0;
    padding-right: 15px;
  }

  &__adress {
    font-family: $font-secondary;
    font-size: $fontsize-smaller;
    line-height: $lineheight-biggest;
    max-width: 50%;
  }

  &__map {
    margin: 25px 0 0 0;
    width: 100%;
  }
}

@media screen and (min-width: $screen-md) {
  .contacts-dillers {
    background-color: $color-white;

    &__description {
      width: $screen-md;
      padding: 0 30px;
    }

    &__title {
      margin-left: 42px;
      width: 153px;
    }

    &__adress {
      margin-right: 42px;
      text-align: right;
      width: 153px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .contacts-dillers {
    padding: 0;
    background-color: $gray-light;

    &__wrapper {
      position: relative;
      width: $screen-lg;
      margin: 0 auto;
    }

    &__description {
      position: absolute;
      top: 95px;
      left: 40px;
      background-color: $color-white;
      width: 570px;
      padding: 65px 90px 70px 70px;
    }

    &__title {
      margin: 0 40px 0 0;
      padding: 0;
    }

    &__adress {
      margin: 0 0 0 40px;
      text-align: left;
    }
  }
}
