.features {
  margin: 0 auto;
  padding: 0 20px;

  &__item {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &::before {
      content: "";
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      margin-right: 20px;
      background-color: $color-additional;
    }
  }

  &__title {
    font-size: $fontsize-title-big;
    line-height: $lineheight-title-biggest;
    font-weight: normal;
    margin: 0 0 35px 0;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item-description {
    font-family: $font-secondary;
    font-size: $fontsize-smaller;
    line-height: $lineheight-biggest;
  }
}

@media screen and (min-width: $screen-md) {
  .features {
    width: $screen-md;
    padding: 0 30px;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      margin-bottom: 55px;
    }

    &__item-description {
      width: 225px;
      font-size: $fontsize-base;
      line-height: $lineheight-title-medium;
    }
  }
}

@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
  .features__item--soluble,
  .features__item--change {
    padding-left: 30px;
  }
}

@media screen and (min-width: $screen-lg) {
  .features {
    width: $screen-lg;
    padding: 0 40px;

    &__item {
      width: 245px;
      margin-right: 80px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
