.features {

  &__wrapper {
    margin: 0 auto 42px auto;
    padding: 0 20px;
  }

  &__item {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &::before {
      content: "";
      flex-shrink: 0;
      width: 60px;
      height: 60px;
      margin-right: 20px;
      background-color: $color-additional;
    }

    &--health::before {
      background-image: url("../img/advantage-leaf@1x.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &--soluble::before {
      background-image: url("../img/advantage-powder@1x.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &--eating::before {
      background-image: url("../img/advantage-dining@1x.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    &--change::before {
      background-image: url("../img/advantage-clock@1x.png");
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

  &__title {
    font-size: $fontsize-title-big;
    line-height: 60px;
    font-weight: normal;
    margin: 0 0 28px 0;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item-description {
    font-family: $font-secondary;
    font-size: $fontsize-smaller;
    margin: 0;
    line-height: 18px;
  }
}

.features__item {
  &--health::before {

  }
}

@media screen and (min-width: $screen-md) {
  .features {
    border-bottom: 1px solid $gray-lightning;

    &__wrapper {
      width: $screen-md;
      padding: 0 30px;
      position: relative;
      margin: 0 auto 46px auto;
    }

    &__title {
      margin-top: 47px;
      font-size: $fontsize-tablet-title-big;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      margin-bottom: 55px;
      margin-top: 45px;

      &::before {
        width: 80px;
        height: 80px;
        margin-bottom: 31px;
      }
    }

    &__item--health::after {
      content: "1";
      position: absolute;
      left: 119px;
      top: 90px;
      font-size: 281px;
      color: $gray-light;
      z-index: -1;
    }

    &__item--soluble::after {
      content: "2";
      position: absolute;
      left: 140px;
      top: 90px;
      font-size: 281px;
      color: $gray-light;
      z-index: -1;
    }

    &__item--eating::after {
      content: "3";
      position: absolute;
      left: 114px;
      top: 90px;
      font-size: 281px;
      color: $gray-light;
      z-index: -1;
    }

    &__item--change::after {
      content: "4";
      position: absolute;
      left: 145px;
      top: 90px;
      font-size: 281px;
      color: $gray-light;
      z-index: -1;
    }

    &__item-description {
      width: 245px;
      font-size: $fontsize-base;
      line-height: 24px;
    }
  }
}

@media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
  .features__item--soluble,
  .features__item--change {
    padding-left: 30px;
  }

  .features__item--eating,
  .features__item--change {
    margin-top: 80px;
  }
}

@media screen and (min-width: $screen-lg) {
  .features {
    border-bottom: none;

    &__wrapper {
      width: $screen-lg;
      padding: 0 40px;
    }

    &__item {
      width: 245px;
      margin-right: 80px;

      &:last-child {
        margin-right: 0;
      }

      &--soluble::after {
        left: 110px;
      }

      &--change::after {
        left: 114px;
      }
    }

    &__title {
      margin-top: 75px;
    }
  }
}
