.homepage-banner {

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 135px;
    padding-top: 27px;
    min-height: 305px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-color: $color-homepage-banner;
    background-repeat: no-repeat;
    background-position: center 0;
  }

  &__title {
    color: $color-white;
    font-size: $fontsize-title-big;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    padding: 0 20px;
    margin: 0 0 25px;
  }

  &__description {
    text-transform: uppercase;
    font-weight: normal;
    font-size: $fontsize-smaller;
    line-height: 14px;
    padding: 0 20px;
    text-align: center;
    color: $color-white;
    margin-bottom: 30px;
  }

  &__img {
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__button {
    width: 280px;
    display: block;
    font-size: $fontsize-smaller;
    line-height: 18px;
    background-color: $color-additional;
    text-transform: uppercase;
    margin: 0 auto;
    color: $color-white;
    text-align: center;
    padding: 11px 20px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: $screen-md) {
  .homepage-banner {
    width: $screen-md;
    margin: 0 auto;
    padding: 0 30px;
    background-image: none;

    &__title {
      color: $color-black;
      text-align: left;
      padding: 26px 192px 20px 89px;
      font-size: $fontsize-tablet-title-big;
      line-height: 60px;
    }

    &__description {
      color: $color-black;
      text-align: left;
      padding: 0 192px 0 89px;
      font-size: $fontsize-biggest;
      margin-bottom: 40px;
    }

    &__wrapper {
      position: relative;
      min-height: auto;
      margin-bottom: 10px;
      background-image: none;
      background-color: transparent;
    }

    &__img {
      width: auto;
      height: 609px;
      position: absolute;
      top: 255px;
      z-index: -1;
    }

    &__button {
      width: 245px;
      margin: 0 0 0 89px;
      padding: 16px 20px;
      font-size: $fontsize-biggest;
      line-height: 20px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .homepage-banner {
    width: $screen-lg;
    padding: 0 40px;

    &__wrapper {
      width: 610px;
      margin: 0;
    }

    &__img {
      width: auto;
      height: 499px;
      position: absolute;
      top: 20px;
      left: 725px;
      z-index: -1;
    }

    &__title {
      margin: 75px 0 44px 0;
      padding: 0 0 0 80px;
    }

    &__description {
      margin-bottom: 54px;
      padding: 0 192px 0 80px;
    }

    &__button {
      margin: 0 0 0 80px;
    }
  }
}
