.homepage-banner {
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 0;
}

.homepage-banner__wrapper {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.homepage-banner__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  padding: 0 20px;
}

.homepage-banner__description {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  padding: 0 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.homepage-baaner__img {
  margin: 0 auto;
}

.homepage-banner__button {
  width: 280px;
  display: block;
  font-size: 14px;
  line-height: 1;
  background-color: #68b738;
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  padding: 13px 20px;
  margin-bottom: 22px;
}
