.nutrition-programs {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.nutrition-programs__item {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.nutrition-programs__item:last-child {
  margin-bottom: 30px;
}

.nutrition-programs__item-title {
  text-transform: uppercase;
  font-size: $fontsize-title-medium;
  line-height: 37.02px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.nutrition-programs__item-description {
  font-family: $font-secondary;
  font-size: $fontsize-smaller;
  line-height: 18px;
  font-weight: normal;
}

.nutrition-programs__item-link {
  font-size: $fontsize-base;
  line-height: 16px;
  text-transform: uppercase;
}
