.other-product {
  margin: 0 auto;
  padding: 0 20px;

  &__title {
    font-size: $fontsize-title-medium;
    line-height: 24px;
    font-weight: normal;
    padding: 25px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

@media screen and (min-width: $screen-md) {
  .other-product {
    width: $screen-md;
    padding: 0 30px;

    &__title {
      border: none;
      padding: 25px 37px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .other-product {
    width: $screen-lg;
    padding: 0 40px;

    &__title {
      padding: 25px 0;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__list {
      width: 895px;
      margin-right: 80px;
    }
  }
}
