.other-product-card {
  border-bottom: 1px solid #cdcdcd;
  padding: 15px 0;

  &__title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: $fontsize-base;
    line-height: 16px;
    color: $gray-nero;
  }

  &__property {
    width: 100%;
    margin-bottom: 10px;
    font-family: $font-secondary;
    font-size: $fontsize-smaller;
    line-height: 14px;
  }

  &__property-key {
    text-align: left;
  }

  &__property-val {
    text-align: right;
  }

  &__button {
    display: block;
    width: 100%;
    font-size: $fontsize-base;
    line-height: 20px;
    font-weight: normal;
    background-color: $color-additional;
    text-transform: uppercase;
    margin: 0 auto;
    color: $color-white;
    text-align: center;
    padding: 13px 20px;
  }
}

@media screen and (min-width: $screen-md) {
  .other-product-card {
    padding: 27px 37px;

    &__title {
      margin: 0;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__property {
      width: auto;
      margin: 0;
    }

    &__property-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__property-key {
      margin-right: 50px;
    }

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .other-product-card {
    padding: 13px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__wrapper {
      width: 610px;
      justify-content: flex-start;
      margin-right: 40px;
    }

    &__link {
      width: 245px;
      margin-right: 80px;
    }

    &__property {
      width: 285px;
    }

    &__button {
      width: 245px;
    }
  }
}
