.page-footer {
  display: flex;
  flex-direction: column;
  background-color: $gray-light;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 38px 20px 0 20px;
  }

  &__logo {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__credits-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 14px 0 15px 0;
  }

  &__credits-copyright {
    font-family: $font-secondary;
    font-size: $fontsize-base;
    line-height: 16px;
  }

  &__social-links {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 10px 0 0;
  }
}

@media screen and (min-width: $screen-md) {
  .page-footer {
    &__wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: $screen-md;
      padding: 52px 30px;
    }

    &__logo {
      border-bottom: none;
      padding: 0;
    }

    &__social-links {
      border-bottom: none;
      margin: 0 0 0 18px;
    }

    &__credits-link {
      width: 162px;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .page-footer__wrapper {
    width: $screen-lg;
    padding: 60px 40px;
  }
}
