.page-header {
  width: 100%;

  &__wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    min-width: $screen-xs;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px 13px 20px;
  }
}

@media screen and (min-width: $screen-md) {
  .page-header {

    &__wrapper {
      width: $screen-md;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 24px 30px 0 30px;
      border-bottom: none;
    }

    &__inner {
      padding: 0;
    }

    &__logo-img {
      width: 173px;
      height: 58px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .page-header {

    &__wrapper {
      width: $screen-lg;
      padding: 55px 40px 0 40px;
    }

    &--index {
      position: relative;

    &::after {
        content: "";
        position: absolute;
        background: url("../img/index-background-desktop@1x.jpg") no-repeat;
        width: 50%;
        height: 696px;
        z-index: -1;
        left: 50%;
        top: 0;
        background-color: $color-homepage-banner;
      }
    }

    &__logo-img {
      width: 202px;
      height: 59px;
    }
  }
}
