.page-header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  min-width: $screen-xs;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px 16px 20px;
  }
}

@media screen and (min-width: $screen-md) {
  .page-header {
    width: $screen-md;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px 0 30px;
    border-bottom: none;

    &__wrapper {
      padding: 0;
    }

    &__logo-img {
      width: 173px;
      height: 58px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .page-header {
    width: $screen-lg;
    padding: 55px 40px 0 40px;

    &--index {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        background-image: url("../img/index-background-desktop@1x.jpg");
        width: 720px;
        height: 696px;
        z-index: -1;
        right: -70px;
        top: 0;
        background-color: $color-additional;
      }
    }

    &__logo-img {
      width: 202px;
      height: 59px;
    }
  }
}
