.product-card {
  padding: 0 0 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.product-card__title {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 15px 0;
  width: 75px;
}

.product-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.product-card__info {
  width: 50%;
}

.product-card__property {
  width: 100%;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
}

.product-card__property-key {
  text-align: left;
}

.product-card__property-val {
  text-align: right;
}

.product-card__button {
  display: block;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  background-color: #68b738;
  text-transform: uppercase;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
  padding: 13px 20px;
}
