.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &__title {
    font-weight: normal;
    text-transform: uppercase;
    font-size: $fontsize-base;
    line-height: $lineheight-biggest;
    margin: 0 0 15px 0;
    width: 75px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    width: 50%;
  }

  &__property {
    width: 100%;
    font-family: $font-secondary;
    font-size: $fontsize-small;
    line-height: $lineheight-base;
  }

  &__property-key {
    text-align: left;
  }

  &__property-val {
    text-align: right;
  }

  &__button {
    display: block;
    width: 280px;
    font-size: $fontsize-base;
    line-height: $lineheight-biggest;
    font-weight: normal;
    background-color: $color-additional;
    text-transform: uppercase;
    margin: 0 auto;
    color: $color-white;
    text-align: center;
    padding: 13px 20px;
  }
}

@media screen and (min-width: $screen-md) {
  .product-card {
    width: 324px;
    margin-top: 60px;
    border-bottom: none;
    background-color: $gray-light;

    &__wrapper {
      flex-direction: column;
    }

    &__img {
      width: auto;
    }

    &__img--small {
      height: 172px;
    }

    &__img--big {
      height: 208px;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .product-card {
    width: 245px;

    &__info {
      width: 169px;
    }

    &__button {
      width: 169px;
    }

    &__title {
      width: 140px;
      margin: 0 auto 30px auto;
      padding: 0 10px;
      text-align: center;
    }

    &__property {
      font-size: $fontsize-base;
      margin-bottom: 20px;
    }

    &__property-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid $gray-very-light;
    }
  }
}
