.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  margin: 0 auto;
  list-style-type: none;
  padding: 22px 0 21px 0;
}

@media screen and (min-width: $screen-md) {
  .social-list {
    padding: 0;
  }

  .social-list__link--vk {
    width: 30px;
    height: 16px;
  }

  .social-list__link--insta {
    width: 23px;
    height: 23px;
  }

  .social-list__link--fb {
    width: 14px;
    height: 28px;
  }

}

@media screen and (min-width: $screen-lg) {



}
