@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2"),
    url("../fonts/oswaldregular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2"),
    url("../fonts/oswaldmedium.woff");
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-primary;
  min-width: $screen-xs;
  margin: 0 auto;
  line-height: 16px;
  color: $color-black;
}

a {
  text-decoration: none;
  color: $color-black;
}

img {
  max-width: 100%;
}
