$color-white: #ffffff;
$color-black: #111111;
$gray-darken: #444444;
$gray-light: #f2f2f2;
$gray-nero: #222222;
$gray-very-light: #cdcdcd;
$color-additional: #68b738;
$screen-xs: 320px;
$screen-md: 768px;
$screen-lg: 1300px;
$font-primary: "Oswald", sans-serif;
$font-secondary: "Arial", sans-serif;
$fontsize-base: 1em;
$fontsize-big: calc(1em + 2px);
$fontsize-biggest: 1.25em;
$fontsize-small: 0.75em;
$fontsize-smaller: calc(1em - 2px);
$fontsize-title-medium: 1.5em;
$fontsize-title-big: 2.25em;
$fontsize-tablet-title-big: 3.75em;
