$color-white: #ffffff;
$gray-darken: #444444;
$gray-light: #f2f2f2;
$color-text-primary: #111111;
$color-text-secondary: #444444;
$color-title-primary: #111111;
$color-title-secondary: #ffffff;
$color-btn: #ffffff;
$color-additional: #68b738;
$color-black: #111111;









$screen-xs: 320px;
$screen-md: 768px;
$screen-lg: 1300px;
$font-primary: "Oswald", sans-serif;
$font-secondary: "Arial", sans-serif;


$fontsize-base: 1em;
$fontsize-big: calc(1em + 2px);;
$fontsize-biggest: 1.25em;
$fontsize-small: 0.75em;
$fontsize-smaller: calc(1em - 2px);
$fontsize-title-medium: 1.5em;
$fontsize-title-big: 2.25em;

$fontsize-tablet-title-big: 3.75em;
